.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f5f7;
  font-family: Arial, sans-serif;
}

.bank-form {
  background: #ffffff;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
  width: 350px;
  text-align: center;
}

.bank-name {
  color: #00798c;
  margin-bottom: 20px;
}

.controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 20px 0;
}
.controls input{
   grid-column: span 2;
}

input {
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #00798c;
  color: white;
  transition: background 0.3s;
}

button:hover {
  background-color: #005f66;
}

h2 {
  margin: 10px 0;
  color: #30638e;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 15px;
  text-align: left;
}

.error {
  color: #d1495b;
  font-weight: bold;
}
